:root {
  --main-bg-color: #e0e0e0;
  --main-text-color: #424242;
  --main-btn-color: #BBDEFB;
  --main-btn-color-hover: #90CAF9;
  --card-bg-color: #fafafa;
  --card-border-radius: 6px;
  --error-bg-color: #ffcdd2;
  --error-text-color: #f44336;
  --header-bg-color: #FFEBEE;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  text-align: left;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

.errorText {
  color: var(--error-text-color);
  font-size: 12px;
  line-height: 1.5;
}

input {
  padding: 12px;
  border: 1px solid var(--main-bg-color);
}

.row {
  display: flex;
  align-items: center;
  padding: 12px;
}

.row * {
  flex: 1;
}